/* GLOBAL STYLES */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 1.6rem;
  color: var(--grayish-violet);
  line-height: 1.6;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

/* VARIABLES */
/* VARIABLES */

:root {
  /* PRIMARY COLORS */
  /* PRIMARY COLORS */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* SECONDARY COLORS */
  /* SECONDARY COLORS */

  --Red: hsl(0, 87%, 67%);

  /* NEUTRAL */
  /* NEUTRAL */
  --gray: hsl(0, 0%, 75%);
  --dark-grey: #eff1f7;
  --grayish-violet: hsl(260, 7%, 59%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --white: #fff;
}

/* UTILITY CLASSES */
/* UTILITY CLASSES */

.u-mb-small {
  margin-bottom: 1.6rem;
}

.u-mb-medium {
  margin-bottom: 3rem;
}

.u-mb-large {
  margin-bottom: 5rem;
}

/* THE HEADER */
/* THE HEADER */

header {
  background-color: var(--dark-violet);
  width: 100%;
  height: 7.5rem;
  padding: 2.5rem 0;
  position: relative;
}

.logo {
  margin-right: 3rem;
  height: 4rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  flex-grow: 1;
}

.nav-ul li {
  list-style: none;
  padding: 0 0.6rem;
}

.nav-ul li a,
.login-menu a:first-child {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
}

.login-menu a:first-child {
  margin-right: 1.6rem;
}

.nav-ul li a:hover,
.login-menu a:first-child:hover {
  color: var(--cyan);
}

.login {
  display: none;
}

.bttn {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 5rem;
  transition: all 0.3s;
}

.bttn:hover {
  opacity: 0.8;
}

/* THE INTRO SECTION */
/* THE INTRO SECTION */

.intro-section {
  background-color: var(--grey);
  padding-bottom: 8rem;
  overflow: hidden;
}

.intro-box {
  display: flex;
  justify-content: space-around;
}

.intro-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  font-weight: 700;
  color: var(--dark-violet);
  line-height: 6rem;
}

.intro-text h1 span {
  display: block;
}

.intro-image {
  width: 50%;
}

.btn-big {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
}

/* INPUT SECTION */
/* INPUT SECTION */

.input-section {
  background-color: var(--dark-grey);
}

.input-form {
  margin: 0 auto;
  background-color: var(--dark-violet);
  background-image: url(images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  max-width: 100rem;
  padding: 5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  transform: translateY(-70%);
}

.input-form form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-form form input {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  width: 80%;
  outline: none;
  padding: 1.4rem;
  border-radius: 0.5rem;
  border: transparent;
  margin-right: 1.5rem;
}

.input-form form .form-btn {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: var(--cyan);
  color: var(--white);
  width: 22%;
  padding: 1.4rem;
  border-radius: 0.5rem;
  border: transparent;
  cursor: pointer;
  outline: none;
}

/* THE ABOUT SECTION */
/* THE ABOUT SECTION */

.about {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.about h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-violet);
}

/* THE FEATURES SECTION  */
/* THE FEATURES SECTION  */

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.featured::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  width: 60%;
  height: 0.5rem;
  background-color: var(--cyan);
}

.feat-box {
  position: relative;
  background-color: var(--white);
  padding: 7rem 3rem 4rem 4rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.feat-box:not(:last-child) {
  margin-right: 2rem;
}

.feature-image {
  display: inline-block;
  background-color: var(--dark-violet);
  padding: 1.5rem;
  border-radius: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -3.6rem;
  left: 2.5rem;
}

.feat-box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: justify;
  line-height: 2.5rem;
  color: var(--dark-violet);
  padding-bottom: 2.5rem;
}

.second-box {
  margin-top: 5%;
}

.third-box {
  margin-top: 10%;
}

/* THE BOOST SECTION */
/* THE BOOST SECTION */

.before-footersec {
  width: 100%;
  background-color: var(--dark-violet);
  position: relative;
  z-index: -1;
}

.before-footersec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200rem;
  height: 100%;
  background-image: url(./images/bg-boost-desktop.svg);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.before-footer {
  display: block;
  text-align: center;
  z-index: 10;
}

.before-footer h2 {
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
}

/* THE STYLES FOR THE FOOTER SECTION */
/* THE STYLES FOR THE FOOTER SECTION */

.footer-section {
  background-color: var(--very-dark-violet);
  padding: 4rem 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
}

.footer-logo {
  width: 50%;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.footer-nav li {
  padding-bottom: 1rem;
  text-decoration: none;
}

.social-media img {
  padding: 0 1.5rem;
  cursor: pointer;
}

/* THE MEDIA QUERIES */
/* THE MEDIA QUERIES */

/* MOBILE PHONE WIDTH 600PX */

@media screen and (max-width: 600px) {
  /* Header section */
  header {
    height: 9rem;
  }
  .logo {
    margin: 0;
  }
  .login-menu {
    display: none;
  }
  nav {
    display: block;
    text-align: center;
  }

  .nav-ul {
    justify-content: center;
  }

  .login {
    display: inline;
  }

  /* INTRO SECTION */
  /* INTRO SECTION */
  .intro-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .intro-image {
    padding-bottom: 4rem;
  }

  .intro-text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }

  .featured {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .feat-box {
    margin-bottom: 6rem;
  }

  .feat-box:not(:last-child) {
    margin-right: 0;
  }

  .feature-image {
    left: 50%;
    transform: translateX(-50%);
  }

  /* BOOST SECTION */
  /* BOOST SECTION */
  .before-footersec::before {
    width: 60rem;
    background-image: url(/images/bg-boost-mobile.svg);
  }

  /* FOOTER SECTION */
  /* FOOTER SECTION */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 980px) {
  /* INTRO SECTION */
  /* INTRO SECTION */

  .intro-text h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  /* ABOUT SECTION */
  /* ABOUT SECTION */
  .about {
    width: 100%;
  }
}
